= form_with(model: @team, class: 'tippkick-form') do |f|
  .my-4
    = f.label :name, class: 'label'
    = f.text_field :name, class: 'input w-full'
    - if @team.errors.key?(:name)
      .errors
        = @team.errors.full_messages_for(:name).join(', ')
  .actions.mt-6.grid.grid-cols-1.gap-4
    - button_text = @team.new_record? ? t('teams.actions.create') : t('teams.actions.update')
    = f.submit button_text, class: 'button w-full'
    = link_to t('shared.actions.cancel'), @team, class: 'shy-link text-center'
