- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.dashboard'), path: dashboard_path)

.flex.items-baseline
  .w-full
    %h1= t('shared.teams')
  .flex-shrink-0
    = link_to new_team_path, class: 'button inline-block text-xs text-pink-900 shadow-lg tracking-wide' do
      .flex.items-center
        %svg.h-4.w-4.mr-2{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M12 6v6m0 0v6m0-6h6m-6 0H6", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        = t('teams.actions.create_new')

= render MembershipsOfUserComponent.new(memberships_of_user: @memberships_of_user)
