%h1= @team.name

- if allowed_to?(:update?, @team)
  .coach-actions
    = link_to t('shared.actions.edit'), edit_team_path(@team)
    = link_to t('shared.actions.delete'), team_path(@team), method: :delete, data: { confirm: t('shared.are_you_sure') }

%section#stats.px-4.py-5.bg-gradient-to-br.from-pink-100.to-pink-300.rounded-xl.shadow-lg
  .stats
    .stats--members-count.text-center
      .stats--value.text-4xl
        = @team.members_count
      .stats--description.text-2xs.text-pink-800
        = t('teams.members')

%section#memberships.mt-10
  %h2.uppercase.text-xs.text-gray-500.text-right= t('team_memberships.members')
  = render TeamMembershipComponent.with_collection(@team.memberships.with_users.ordered_by_ranking_position)

- if allowed_to?(:leave?, @team)
  .member-actions.mt-10
    = link_to t('teams.actions.leave'), leave_team_path(@team), class: 'p-4 text-center text-red-600 border-2 border-red-400 hover:bg-red-500 rounded-lg hover:text-white transition block',data: { confirm: t('shared.are_you_sure') }
