- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.teams'), path: teams_path)

%h1= @team.name

.mb-10.mt-8
  = render MembershipRankingComponent.new(team: @team, user: current_user)
.my-10
  = render TeamMembershipsComponent.new(team: @team, params: params, user: current_user)

- if allowed_to?(:leave?, @team)
  .member-actions.mt-10
    = link_to t('teams.actions.leave'), leave_team_path(@team), class: 'dangerous-button',data: { confirm: t('shared.are_you_sure') }

- if allowed_to?(:update?, @team)
  %section#admin.mt-16
    %h2= t('shared.admin')

    .my-4
      = render InvitationLinkComponent.new(team: @team, user: current_user)
    .coach-actions.grid.grid-cols-1.gap-4
      = link_to t('.edit_team'), edit_team_path(@team), class: 'hollow-button'
      = link_to t('.delete_team'), team_path(@team), method: :delete, class: 'dangerous-button', data: { confirm: t('shared.are_you_sure') }
