%h1= @team.name

- if allowed_to?(:update?, @team)
  .coach-actions
    = link_to t('shared.actions.edit'), edit_team_path(@team)
    = link_to t('shared.actions.delete'), team_path(@team), method: :delete, data: { confirm: t('shared.are_you_sure') }

- if allowed_to?(:invite?, @team)
  .my-10
    = render InvitationLinkComponent.new(invitation_link: @team.decorate.invitation_link)

%section#memberships.mt-5
  %h2.uppercase.text-pink-400.mb-3.text-2xl.tracking-wide= t('shared.ranking')
  = render TeamMembershipsComponent.new(team: @team, params: params)

- if allowed_to?(:leave?, @team)
  .member-actions.mt-10
    = link_to t('teams.actions.leave'), leave_team_path(@team), class: 'p-4 text-center text-red-400 border-2 border-red-400 hover:bg-red-400 rounded-lg hover:text-white transition block',data: { confirm: t('shared.are_you_sure') }
