- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.start'), path: root_path)

%h2= t('shared.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'tippkick-form' }) do |f|
  .field.my-4
    = f.label :email, class: 'label'
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input w-full'
    - if resource.errors.key?(:email)
      .errors
        = resource.errors.full_messages_for(:email).join(', ')
  .field.my-4
    = f.label :password, class: 'label'
    = f.password_field :password, autocomplete: 'new-password', class: 'input w-full'
    - if resource.errors.key?(:password)
      .errors
        = resource.errors.full_messages_for(:password).join(', ')

  .actions.mt-8.grid.grid-cols-1.gap-4
    = f.submit t('shared.sign_up'), class: 'button w-full'
    = link_to t('shared.sign_in'), new_session_path(resource_name), class: 'shy-link mt-2 w-full'
