.flex.flex-wrap.mx-5
  .w-full.flex.rounded-xl.overflow-hidden.text-2xs.items-center
    .w-full.bg-blue-200.text-blue-800.text-center{ style: "width: #{bets_home_team_wins_percentage}%;" }
      = display_bets_home_team_wins_percentage
    .w-full.bg-gray-200.text-gray-800.text-center{ style: "width: #{bets_guest_team_wins_percentage}%;" }
      = display_bets_guest_team_wins_percentage
    .w-full.bg-blue-200.text-blue-800.text-center{ style: "width: #{bets_draw_percentage}%;" }
      = display_bets_draw_percentage
