%section#current-ranking
  .border-2.border-blue-300.rounded-xl.overflow-auto.shadow-xl
    .grid.grid-cols-2.justify-items-center
      .bg-blue-300.border.border-blue-300.py-4.w-full.text-center.text-sm
        = t('shared.points')
      .bg-blue-300.py-4.w-full.text-center.text-sm
        = t('shared.global_ranking')
      .points.text-3xl.py-8= total_points
      .global-ranking.text-3xl.py-8= global_ranking_position
      .col-span-full.text-center.mt-2.mb-4
        = link_to t('shared.global_ranking'), team_path(:global), class: 'inline-flex items-center justify-center px-6 py-2 border border-transparent font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-sm'
