.bg-white.shadow.rounded-lg
  .px-4.py-5.sm:p-6
    - if all_set?
      %svg.text-green-500.w-16.mx-auto{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2"}
      .text-center
        .my-4.text-sm.text-gray-500
          = t('.youre_all_set')
    - else
      %svg.text-yellow-400.w-16.mx-auto{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2"}
      .text-center
        .my-4.text-sm.text-gray-500
          = t('.there_is', count: @dashboard.unpredicted_predictable_games.count)
          = t('.number_of_games', count: unpredicted_predictable_games_count)
          = t('.ready_to_be_predicted')
    .mt-8.text-center
      = link_to t('shared.predictions'), teams_path, class: 'inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-pink-700 bg-pink-100 hover:bg-pink-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 sm:text-sm'
