.invitation-link{ data: { controller: 'invitation-link', 'team-tippkick-id': @team.tippkick_id } }
  #invitation-link
    = label_tag :invitation_link, t('.invitation_link'), class: 'invitation-link--label'
    .invitation-link--flashes
      .inline.hidden{ data: { 'invitation-link-target': 'copied' } }
        = t('.copied')
      .inline.hidden{ data: { 'invitation-link-target': 'linkRefreshed' } }
        = t('.link_refreshed')
    .mt-1.flex.rounded-md.shadow-sm
      = text_field_tag :invitation_link, invitation_link, class: 'invitation-link--input-field', data: { 'invitation-link-target': 'linkInput' }
      %button.invitation-link--button{ title: t('.copy'), 'aria-label': t('.copy'), data: { action: 'click->invitation-link#copyToClipboard', 'invitation-link-target': 'button' } }
        %svg.text-pink-900.h-4.w-4{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    .pt-1
      %button{ class: 'text-xs text-pink-400 hover:text-black transition', data: { action: 'click->invitation-link#refresh' } }
        = t('.refresh_invitation_link')
