%section#current-users-ranking.my-5
  %h2= t('shared.your_ranking_in_this_team')

  .border-2.border-blue-300.rounded-xl.overflow-auto
    .grid.grid-cols-2.justify-items-center
      .bg-blue-300.border.border-blue-300.py-2.w-full.text-center.text-sm
        = t('shared.points')
      .bg-blue-300.py-2.w-full.text-center.text-sm
        = t('shared.ranking')
      .points.text-3xl.py-4= @user.total_points
      .ranking-position.text-3xl.py-4= @team_membership.ranking_position
