.flex.flex-col
  .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
    .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
      .overflow-hidden.border-2.border-pink-200.rounded-xl
        %table.min-w-full.divide-y-2.divide-pink-100.memberships-of-user
          %thead.bg-pink-200
            %tr.border-0.border-b-1
              %th.px-3.py-3.text-left.text-xs.font-medium.text-pink-700.uppercase.tracking-wider.align-bottom{ scope: 'col', class: 'w-6/12' }
                = t('activerecord.attributes.team.name')
              %th.px-3.py-3.text-right.text-xs.font-medium.text-pink-700.uppercase.tracking-wider.align-bottom{ scope: 'col', class: 'w-3/12' }
                = t('shared.your_rank')
              %th.px-3.py-3.text-right.text-xs.font-medium.text-pink-700.uppercase.tracking-wider.align-bottom{ scope: 'col', class: 'w-3/12' }
                = t('activerecord.attributes.team.members_count_short')

          %tbody.bg-white.divide-y-2.divide-pink-100
            = render MembershipOfUserRowComponent.with_collection(@memberships_of_user)
  .create-team.mt-5
    = link_to t('teams.actions.create_new'), new_team_path, class: 'button w-full block text-pink-900'
