%nav.bg-white.shadow{ data: { controller: 'navigation' } }
  .max-w-7xl.mx-auto.px-2.sm:px-6.lg:px-8
    .relative.flex.justify-between.h-16
      .absolute.inset-y-0.left-0.flex.items-center.sm:hidden
        / Mobile menu button
        %button.inline-flex.items-center.justify-center.p-2.rounded-md.text-pink-600.hover:bg-pink-100.focus:outline-none.focus:ring-2.focus:ring-inset.focus:ring-pink-400{'aria-controls': 'mobile-menu', 'aria-expanded': 'false', type: 'button', data: { action: 'click->navigation#toggleMobileMenu', 'navigation-target': 'mobileMenuToggler' } }
          %span.sr-only Open main menu
          %svg.block.h-6.w-6{'aria-hidden': 'true', fill: 'none', stroke: 'currentColor', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg', data: { 'navigation-target': 'mobileMenuIconClosed' } }
            %path{d: 'M4 6h16M4 12h16M4 18h16', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', 'stroke-width': '2' }
          %svg.hidden.h-6.w-6{'aria-hidden': 'true', fill: 'none', stroke: 'currentColor', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg', data: { 'navigation-target': 'mobileMenuIconOpened' } }
            %path{d: 'M6 18L18 6M6 6l12 12', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', 'stroke-width': '2' }
      .flex-1.flex.items-center.justify-center.sm:items-stretch.sm:justify-start
        .flex-shrink-0.flex.items-center
          %svg.h-8.w-auto.icon.icon-tabler.icon-tabler-ball-football.text-pink-700{fill: 'none', stroke: 'currentColor', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', 'stroke-width': '1.4', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg'}
            %path{d: 'M0 0h24v24H0z', fill: 'none', stroke: 'none'}
            %circle{cx: '12', cy: '12', r: '9'}
            %path{d: 'M12 7l4.76 3.45l-1.76 5.55h-6l-1.76 -5.55z'}
            %path{d: 'M12 7v-4m3 13l2.5 3m-.74 -8.55l3.74 -1.45m-11.44 7.05l-2.56 2.95m.74 -8.55l-3.74 -1.45'}
        .hidden.sm:ml-6.sm:flex.sm:space-x-8
          - if signed_in?
            = render NavigationLinkComponent.new(t('shared.dashboard'), dashboard_path)
            = render NavigationLinkComponent.new(t('shared.tournament'), predictions_or_games_path)
            = render NavigationLinkComponent.new(t('shared.teams'), teams_path)
            = render NavigationLinkComponent.new(t('shared.profile'), profile_path)
          - else
            = render NavigationLinkComponent.new(t('shared.sign_in'), new_user_session_path)

      - if signed_in?
        #profile-menu.absolute.inset-y-0.right-0.flex.items-center.pr-2.sm:static.sm:inset-auto.sm:ml-6.sm:pr-0
          .ml-3.relative
            %div
              %button#user-menu.bg-white.rounded-full.flex.text-sm.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-pink-500{'aria-expanded': 'false', 'aria-haspopup': 'true', type: 'button', data: { action: 'click->navigation#toggleProfileMenu', 'navigation-target': 'profileMenuToggler' }}
                %span.sr-only Open user menu
                %svg.w-8.h-8.text-pink-700.hover:text-pink-500.transition{fill: 'none', stroke: 'currentColor', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg'}
                  %path{d: 'M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z', 'stroke-linecap' => 'round', 'stroke-linejoin' => 'round', 'stroke-width' => '2'}
            .hidden.origin-top-right.absolute.right-0.mt-2.w-48.rounded-md.shadow-lg.py-1.bg-white.ring-1.ring-black.ring-opacity-5.focus:outline-none{'aria-labelledby': 'user-menu', 'aria-orientation': 'vertical', role: 'menu', data: { 'navigation-target': 'profileMenu' } }
              = link_to t('shared.profile'), profile_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100', role: 'menuitem'
              = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100', role: 'menuitem'


  #mobile-menu.sm:hidden{ data: { 'navigation-target': 'mobileMenu' } }
    .pt-2.pb-4.space-y-1
      - if signed_in?
        = render NavigationMobileLinkComponent.new(t('shared.dashboard'), dashboard_path)
        = render NavigationMobileLinkComponent.new(t('shared.tournament'), predictions_or_games_path)
        = render NavigationMobileLinkComponent.new(t('shared.teams'), teams_path)
        = render NavigationMobileLinkComponent.new(t('shared.profile'), profile_path)
      - else
        = render NavigationMobileLinkComponent.new(t('shared.sign_in'), new_user_session_path)
