%ul
  %li.pb-8
    .font-bold= t('.betting_rules.title')
    %ul
      %li.py-5
        = t('.betting_rules.you_can_place_and_change_bets')
        .text-gray-500.text-sm.mt-1
          = t('.betting_rules.you_can_place_and_change_bets_addition')
      %li.py-5
        = t('.betting_rules.the_score_after_playtime_counts')
        .text-gray-500.text-sm.mt-1
          = t('.betting_rules.the_score_after_playtime_counts_addition')

  %li.pb-8
    .font-bold= t('.award_for_points.title')
    %ul
      %li.py-5= t('.award_for_points.three_for_correct_outcome')
      %li.py-5= t('.award_for_points.points_for_each_score')
      %li.py-5= t('.award_for_points.two_for_perfection')

  %li
    .font-bold= t('.example.title')
    %ul
      %li.py-5= t('.example.your_bet_was')
      %li.py-5= t('.example.three_for_correct_outcome')
      %li.py-5= t('.example.one_for_correct_score')
      %li.py-5= t('.example.your_total')
      %li.py-5
        = t('.example.maximum_total_points')
        .text-gray-500.text-sm.mt-1
          = t('.example.maximum_total_points_details')
