- if prediction.kickoff_future?
  .prediction.my-5.py-10.px-4.shadow-lg.rounded-lg.bg-gradient-to-br.from-gray-100.to-gray-200{ id: dom_id(prediction) }
    .prediction--tournament-phase
      = render 'games/tournament_phase_badge', tournament_phase: prediction.game.tournament_phase
    .prediction--uefa-game-id
      = render 'games/uefa_game_id_badge', uefa_game_id: prediction.game.decorate.display_uefa_game_id
    .prediction--kickoff-at
      = t('shared.kickoff_in')
      %b= prediction.game.decorate.display_kickoff_at_from_now
      = t('shared.in_venue')
      %b= prediction.game.decorate.display_venue

    .prediction--home-team.text-right.text-sm
      = prediction.game.decorate.display_home_team_name
    .prediction--guest-team.text-sm.text-left
      = prediction.game.decorate.display_guest_team_name

    - if prediction.predictable?
      - if prediction.predicted?
        .prediction--home-team-score= prediction.home_team_score
        .prediction--guest-team-score= prediction.guest_team_score
        .prediction--score-colon :

        .prediction--score-controls--home-plus
          %button{ data: { reflex: 'click->Prediction#change_score', id: prediction.id, team_score: :home, delta: :plus } } +
        .prediction--score-controls--guest-plus
          %button{ data: { reflex: 'click->Prediction#change_score', id: prediction.id, team_score: :guest, delta: :plus } } +
        .prediction--score-controls--home-minus
          %button{ disabled: prediction.home_team_score&.zero?, data: { reflex: 'click->Prediction#change_score', id: prediction.id, team_score: :home, delta: :minus } } -
        .prediction--score-controls--guest-minus
          %button{ disabled: prediction.guest_team_score&.zero?, data: { reflex: 'click->Prediction#change_score', id: prediction.id, team_score: :guest, delta: :minus } } -
      - else
        .prediction--start-predicting
          %button{ data: { reflex: 'click->Prediction#start', id: prediction.id } }= t('shared.start')
    - else
      .prediction--not-yet-predictable.text-center.text-gray-500.text-sm
        = t('.not_yet_predictable')
