%h1= t('admin.games.actions.edit')

= form_with model: [:admin, @game], class: 'tippkick-form' do |f|

  .my-8
    .grid.grid-cols-2.gap-4
      .mb-4
        = f.label :uefa_game_id, class: 'label'
        = f.text_field :uefa_game_id, disabled: true, class: 'input w-full'

      .mb-4
        = f.label :tournament_phase, class: 'label'
        = f.text_field :tournament_phase, value: @game.decorate.display_tournament_phase, disabled: true, class: 'input w-full'

    .mb-4
      = f.label :venue, class: 'label'
      = f.text_field :venue, value: @game.decorate.display_venue, disabled: true, class: 'input w-full'

    .mb-4
      = f.label :kickoff_at, class: 'label'
      = f.text_field :kickoff_at, disabled: true, class: 'input w-full'

  .mt-10.mb-4
    .grid.grid-cols-2.gap-4
      .mb-4
        = f.label :home_team_name, class: 'label'
        = f.select :home_team_name, GameDecorator.fifa_country_codes_as_options, { include_blank: '-' }, { class: 'input w-full' }

      .mb-4
        = f.label :guest_team_name, class: 'label'
        = f.select :guest_team_name, GameDecorator.fifa_country_codes_as_options, { include_blank: '-' }, { class: 'input w-full' }

    .grid.grid-cols-2.gap-4
      .mb-4
        = f.label :home_team_score, class: 'label'
        = f.select :home_team_score, (0..10), {}, { class: 'input w-full' }

      .mb-4
        = f.label :guest_team_score, class: 'label'
        = f.select :guest_team_score, (0..10), {}, { class: 'input w-full', min: 0, max: 20, step: 1 }

  .mb-4.text-center
    = f.label :final_whistle_at, t('activerecord.attributes.game.final_whistle_at_short'), class: 'label pb-2'
    = f.check_box :final_whistle_at, { class: 'checkbox p-3', checked: @game.final_whistle? }

  .actions.mt-8.grid.grid-cols-1.gap-4
    = f.submit nil, class: 'button w-full'
    = link_to t('shared.actions.cancel'), admin_games_path, class: 'shy-link text-center'
