- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.start'), path: root_path)

%h2= t('shared.change_your_password')

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'tippkick-form' }) do |f|

  = f.hidden_field :reset_password_token

  .field.my-4
    = f.label :password, t('shared.new_password'), class: 'label'
    = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'w-full input'

  .actions.mt-6.grid.grid-cols-1.gap-4
    = f.submit t('shared.change_my_password'), class: 'button w-full'
    = link_to t('shared.sign_up'), new_registration_path(resource_name), class: 'hollow-button w-full'
    = link_to t('shared.sign_in'), new_session_path(resource_name), class: 'hollow-button w-full'
