.prediction-with-game.text-sm.p-3.my-2.rounded.border.border-gray-200
  .prediction-with-game--home-team-name.text-right.text-gray-500
    = prediction_with_game.game.decorate.display_home_team_name
  .prediction-with-game--guest-team-name.text-right.text-gray-500
    = prediction_with_game.game.decorate.display_guest_team_name
  .prediction-with-game--actual-home-team-score
    = prediction_with_game.game.home_team_score
  .prediction-with-game--actual-guest-team-score
    = prediction_with_game.game.guest_team_score
  .prediction-with-game--predicted-home-team-score
    = render 'predicted_score', score: prediction_with_game.home_team_score
  .prediction-with-game--predicted-guest-team-score
    = render 'predicted_score', score: prediction_with_game.guest_team_score
  .prediction-with-game--total-points
    = render 'total_points', total_points: prediction_with_game.total_points
