.bet-with-game.text-sm.p-3.my-2.rounded.border.border-gray-200
  .bet-with-game--home-team-name.text-right.text-gray-500
    = bet_with_game.game.decorate.display_home_team_name
  .bet-with-game--guest-team-name.text-right.text-gray-500
    = bet_with_game.game.decorate.display_guest_team_name
  .bet-with-game--actual-home-team-score
    = bet_with_game.game.home_team_score
  .bet-with-game--actual-guest-team-score
    = bet_with_game.game.guest_team_score
  .bet-with-game--bet_complete-home-team-score
    = render 'bet_complete_score', score: bet_with_game.home_team_score
  .bet-with-game--bet_complete-guest-team-score
    = render 'bet_complete_score', score: bet_with_game.guest_team_score
  .bet-with-game--total-points
    = render 'total_points', total_points: bet_with_game.total_points
