.prediction-with-game
  .grid.grid-cols-3.mb-4
    - if prediction_with_game.game.live?
      .col-span-full.text-xs.bg-red-500.text-white live
    .col-span-full.text-xs.bg-gray-200.px-1= prediction_with_game.game.kickoff_at
    .col-span-auto.px-1= prediction_with_game.game.home_team_name
    .col-span-auto.px-1= prediction_with_game.game.home_team_score
    .col-span-auto.px-1= prediction_with_game.home_team_score
    .col-span-auto.px-1= prediction_with_game.game.guest_team_name
    .col-span-auto.px-1= prediction_with_game.game.guest_team_score
    .col-span-auto.px-1= prediction_with_game.guest_team_score
