%h1= t('shared.dashboard')

= render(DashboardPredictionsComponent.new(dashboard: @dashboard))

%section#stats.mt-10
  %h2.text-right.text-xs.uppercase.tracking-wider.text-gray-400.mb-1
    = t('shared.stats')
  .section.px-4.py-10.bg-gradient-to-br.from-pink-100.to-pink-300.rounded-xl.shadow-lg
    - if @dashboard.stats_ready?
      .stats
        .stats--total-points.text-center
          .stats--value.text-4xl
            = @dashboard.total_points
          .stats--description.text-2xs.text-pink-800
            = t('shared.points', count: @dashboard.total_points)
        .stats--global-ranking-position.text-center
          .stats--value.text-4xl
            = @dashboard.global_ranking_position
          .stats--description.text-2xs.text-pink-800
            = t('shared.global_rank')
    - else
      .text-center.text-gray-400
        = t('.no_stats_available_yet')

= render(DashboardTeamsComponent.new(dashboard: @dashboard))
