%h1= t('shared.dashboard')

- if @dashboard.stats_ready?
  %section#stats.mt-10
    %h2.text-right.text-xs.uppercase.tracking-wider.text-gray-400.mb-1
      = t('shared.stats')
    .section.stats.border.text-center.border.px-4.py-10
      .stats--total-points.text-center
        .stats--value.text-4xl
          = @dashboard.total_points
        .stats--description.text-2xs.text-gray-500
          = t('shared.points', count: @dashboard.total_points)
      .stats--global-ranking-position.text-center
        .stats--value.text-4xl
          = @dashboard.global_ranking_position
        .stats--description.text-2xs.text-gray-500
          = t('shared.global_rank')

- if @dashboard.unpredicted_predictable_games.any?
  %section#unpredicted-predictable-games.mt-12
    %h2.text-right.text-xs.uppercase.tracking-wider.text-gray-400.mb-1
      = t('shared.predictions')
    .section.unpredicted-predictable-games.text-center.border.px-4.py-10
      .text-pink-700
        = t('.ready_to_be_predicted', count: @dashboard.unpredicted_predictable_games.count)
      .mt-5
        = link_to t('.show'), predictions_path, class: 'px-10 py-1 border-2 border-pink-200 rounded text-pink-900'

  %section#teams.mt-12
    %h2.text-right.text-xs.uppercase.tracking-wider.text-gray-400.mb-1
      = t('shared.teams')
