!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TippkickClub
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render NavigationComponent.new(signed_in: signed_in?)

    .max-w-7xl.mx-auto.lg:p-8.sm:p-6
      .flash-messages
        = notice
        = alert

      .block
        = yield

      %footer.mx-4.my-20.text-right
        = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'text-gray-300 hover:text-gray-700 text-xs'
