!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TippkickClub
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      = link_to t('shared.games'), games_path
    = notice
    = alert
    = yield
