!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TippkickClub
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .max-w-screen-sm.mx-auto
      %nav.m-4
        - if signed_in?
          = link_to_unless_current t('shared.games'), games_path
          = link_to_unless_current t('shared.predictions'), predictions_path
        - else
          = link_to_unless_current t('.sign_in'), new_user_session_path
      .m-4.flash-messages
        = notice
        = alert

      .m-4
        = yield

      %footer.mx-4.my-20.text-right
        = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'text-gray-300 hover:text-gray-700 text-xs'
